# Virtual environment
env-mini-knowledge-api/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Logs
*.log

# Other files
**/vector_store
.env
evaluation/evaluation_results.json
evaluation/evaluation_summary.json